/* Colors */
$background_color_1: #f6f2f8;
$background_color_2: #ffffff;
$color_1: #333333;
$color_2: #ff5733;
$color_3: #222222;
$color_4: #0082f3;
$color_5: #dddddd;
$color_6: #f5f9ff;
$color_7: #c8c8c8;
$color_8: #34342e;

/* fonts */
$font_family_1: Montserrat, sans-serif;
